.footer{
    width: 100%;
    height: 190px;
    background-color: var(--azul_esmeralda);
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img {
    width: 100px;
    margin-left: 200px;
    @media (max-width: 750px) {
        margin-left: 1rem;
        width: 80px;
    }
}

.footer nav {
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    @media (max-width: 750px) {
        margin-right: 1rem;
    }
   
}

nav a {
    text-decoration: none;
    color: var(--azul_claro);
    font-weight: normal;
}