.footer {
    align-items: center;
    background-color: var(--azul_esmeralda);
    display: flex;
    font-size: 1rem;
    font-weight: bold;
    height: 190px;
    justify-content: space-between;
    width: 100%;
}

.footer img {
    margin-left: 200px;
    width: 100px;

    @media (max-width: 750px) {
        margin-left: 1rem;
        width: 80px;
    }
}

.footer nav {
    display: flex;
    flex-direction: column;
    margin-right: 200px;

    @media (max-width: 750px) {
        margin-right: 1rem;
    }
}

nav a {
    color: var(--azul_claro);
    font-weight: normal;
    text-decoration: none;

    @media (max-width: 750px) {
        font-size: 0.7rem;
    }
}