* {
    scroll-behavior: smooth;
}

.sobre, .planoDeEstudos {
    align-items: flex-start;
    background-color: var(--azul_marinho);
    color: var(--azul_claro);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: 90vh;
    padding: 60px 0px 0px 0px;
    width: 100%;

    @media (max-width: 750px) {
        display: flex;
        flex-direction: column;
        padding-right: 0px;
    }
}

.sobre h2, .planoDeEstudos h2 {
    color: var(--azul_claro);
    font-size: 1.5rem;
    padding-left: 3rem;

    @media (max-width: 750px) {
        padding-left: 1rem;
    }
}

.sobre img {
    border-radius: 30px;
    height: 400px;

    @media (max-width: 750px) {
        height: 300px;
        margin-left: 1rem;
    }
}

.sobre figure {
    @media (max-width: 750px) {
        align-self: flex-end;
        padding-bottom: 20px;
        padding-right: 50px;
    }
}

.sobre p {
    font-size: 1rem;
    margin-bottom: 1rem;
    padding-left: 13rem;
    padding-right: 1rem;
    padding-top: 3rem;
    width: 750px;

    @media (max-width: 750px) {
        align-self: flex-end;
        padding: 0px;
        padding-right: 3rem;
        padding-top: 2rem;
        width: 330px;
    }

    /* 48px */
}

.time {
    align-items: flex-start;
    background-color: var(--azul_claro);
    color: var(--azul_marinho);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: 90vh;
    padding: 60px 0px 0px 0px;
    width: 100%;

    @media (max-width: 750px) {
        display: flex;
        flex-direction: column;
    }
}

.time p {
    color: var(--azul_marinho);
    font-size: 1rem;
    margin-bottom: 1rem;
    padding-left: 13.5rem;
    padding-top: 2rem;
    width: 1100px;

    @media (max-width: 750px) {
        align-self: flex-end;
        padding-left: 0;
        padding-right: 1rem;
        width: 330px;
    }

}

.time h2, .faleConosco h2 {
    color: var(--azul_marinho);
    font-size: 1.5rem;
    padding-left: 3rem;

    @media (max-width: 750px) {
        padding-left: 1rem;
    }
}

.time figure {
    display: flex;
    flex-wrap: wrap;
    margin-left: 19rem;

    @media (max-width: 750px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        padding: 0;
        margin: 0;
    }
}   

.time img {
    align-items: center;
    align-self: flex-end;
    border-radius: 15px;
    width: 200px;

    @media (max-width: 750px) {
        border-radius: 15px;
        width: 150px;
    }
}

.time img:hover {
    cursor: pointer;
}

.planoDeEstudos p {
    color: var(--azul_claro);
    font-size: 1rem;
    margin-bottom: 1rem;
    padding-left: 20rem;
    padding-top: 2rem;
    width: 1210px;

    @media (max-width: 750px) {
        align-self: flex-end;
        padding-left: 0;
        padding-right: 1rem;
        width: 330px;
    }
}

.planoDeEstudos img {
    margin: 20px 0px 50px 380px;
    width: 800px;

    @media (max-width: 750px) {
        margin: 0;
        padding-right: 1rem;
        width: 330px;
    }
}

.planoDeEstudos figure {
    @media (max-width: 750px) {
        align-self: flex-end;
    }
}

.faleConosco {
    background-color: var(--azul_claro);
    color: var(--azul_marinho);
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    padding: 60px 0px 100px 0px;
    width: 100%;
}

.faleConosco p {
    align-self: flex-end;
    color: var(--azul_marinho);
    font-size: 1rem;
    margin-bottom: 3rem;
    padding-top: 2rem;
    width: 1192px;

    @media (max-width: 750px) {
        align-self: flex-end;
        padding-left: 0;
        padding-right: 1rem;
        width: 330px;
    }
}

.faleConosco span{
    font-weight: bold;
}

.faleConosco section {
    align-items: center;
    display: flex;
    height: 40vw;
    justify-content: center;

    @media (max-width: 750px) {
        height: 550px;
        margin-left: 3rem;
        margin-right: 3rem;
        width: 330px;
    }
}

form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form input, form textarea {
    background-color: var(--rosa);
    border: 3px solid var(--azul_marinho);
    border-radius: 20px;
    color: var(--azul_claro);
    outline: unset;
    padding: 20px;
    width: 400px;

    @media (max-width: 750px) {
        width: auto;
    }
}

::placeholder {
    color: var(--azul_claro);
}

form input[type=submit] {
    align-self: center;
    background-color: var(--azul_esmeralda);
    border: 0px;
    cursor: pointer;
    margin-top: 30px;
    width: 300px;
}

.faleConoscoForms {
    background-color: var(--rosa);
    border-radius: 20px;
    margin: 0px 400px 0px 400px;

    @media (max-width: 750px) {
        margin: 0;
    }
}