.sobre {
    background-color: var(--azul_marinho);
    width: 100%;
    min-height: 90vh;
    padding: 60px 0px 0px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    color: var(--azul_claro);
}

.sobre h2 {
    padding-left: 5rem;
    font-size: 2rem;
}

.sobre img {
    height: 400px;
    border-radius: 30px;
}

.sobre p {
    font-size: 1rem; /* 48px */
    margin-bottom: 1rem;
    width: 750px;
    padding-left: 13rem;
    padding-right: 1rem;
    padding-top: 3rem;
}


.time {
    background-color: var(--azul_claro);
    color: var(--azul_marinho);
    width: 100%;
    min-height: 90vh;
    padding: 60px 0px 0px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.time p {
    font-size: 1rem; /* 48px */
    margin-bottom: 1rem;
    width: 1100px;
    padding-left: 13rem;
    padding-top: 3rem;
    color: var(--azul_marinho);
}

.time h2 {
    color: var(--azul_marinho);
    padding-left: 5rem;
    font-size: 2rem;
}

.time figure {
    padding-left: 20rem;
}

.time img {
    /* display: flex; */
    align-items: center;
    justify-content: flex-end;
    width: 250px;
    padding: 2rem;
    border-radius: 30px;
}

.time img:hover {
    cursor: pointer;
}