:root {
  --azul_claro: #D2F9FF;
  --azul_esmeralda: #005679;
  --azul_marinho: #02012B;
  --azul_piscina: #05D8E9;
  --rosa: #FF2A6D;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  font-family: 'Fira Code', monospace;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}