.programacaoDiv {
    align-items: center;
    background: #0000;
    display: flex;
    flex-direction: column;
    height: 260px;
    justify-content: flex-end;
    margin-left: 30px;
    margin-top: 50px;
    position: absolute;
    width: 210px;
}

.programacaoDiv:hover {
    cursor: pointer;
}

.programacaoSpan {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--rosa);
    border-radius: 10px;
    height: 26px;
    width: 135px;
}

.programacaoInside {
    background-image: url("ilhaDaProgramacao.jpg");
    background-size: 750px;
    height: 600px;
    position: absolute;
    width: 600px;
    z-index: 1;
}